body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  